body{
  font-family:Arial;
  background:#6F2C98FA;
  color:white;
}
.welcome{
  color:#56F921;
  font-size: 27px;
}
.top span{
  color:yellow;
}
.info{
  border:2px solid orange;
  padding: 20px;
}
b{color:orange;}
 img{
   width:100%;
}